<!DOCTYPE html>
<ion-view title="Dashboard">
    <ion-content>
        
        <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
            List of Classes</p>
    <div class="buttons">
            <button type="button" name="deletebutton" class="button icon ion-minus-circled button-clear button-dark" ng-click="data.showDelete = !data.showDelete">&nbsp;Delete Class</button>
            <button type="button" name="addbutton" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddModal('class')">&nbsp;Add New Class</button>
        </div>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-repeat="item in classes" type="item-text-wrap" href="#/tab/dash/classes/{{item.id}}">
                Name: {{item.name}}
                <ion-delete-button class="ion-minus-circled" ng-click="deleteData('classes', item.id)"></ion-delete-button>
            </ion-item>
        </ion-list>
</ion-content>
</ion-view>


