<!DOCTYPE html>
<ion-view title="Freshman Applications">
    <ion-content>
        <p class="item item-icon-left item-text-wrap"> <i class="icon ion-information"></i>
            List of Applications Terry Scholarship 2015/16<br>
            Totel number of applications in the database: {{itemslength}}</p>
        
        <div class="bar bar-header item-input-inset">
            <ion-search placeholder="Search applications" filter="search"></ion-search>
        </div>
        
        <div class="list card" ng-repeat="item in items | filter:search.value | orderBy: 'last_name' ">            
            
            <div class="item item-icon-left energized" ng-show="item.status == 'in progress' ">
                <i class="icon ion-edit"></i>
                <p>Application ID {{item.id}}: {{item.status}}</p>
                <h2>{{item.first_name}} {{item.last_name}}</h2>
            </div>
            <div class="item item-icon-left balanced" ng-show="item.status == 'submitted' ">
                <i class="icon ion-email"></i>
                <p>Application ID {{item.id}}: {{item.status}}</p>
                <h2>{{item.first_name}} {{item.last_name}}</h2>
            </div>
            <div class="item item-body">
                <p>Creation Timestamp: {{item.creation_timestamp | date: 'yyyy-MM-dd'}}</p>              
                <p ng-show="item.file_names[0]" >Essay 1: {{item.file_names[0] | truncate:6}}</p>
                <p ng-show="item.file_names[1]" >Essay 2: {{item.file_names[1] | truncate:6}}</p>
            
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="createPdf(item)">
                    <i class="icon ion-document-text"></i>
                    Open PDF
                </a>
                <a class="tab-item" ng-click="downloadEssay1(item.id, item.last_name, item.first_name)" ng-show="item.file_names[0]">
                    <i class="icon ion-archive"></i>
                    Download Essay 1
                </a>
                <a class="tab-item" ng-click="downloadEssay2(item.id, item.last_name, item.first_name)" ng-show="item.file_names[1]">
                    <i class="icon ion-archive"></i>
                    Download Essay 2
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>
