<ion-view title="Dashboard"> <ion-content
	class="has-header padding">
<h1>DASH RESTFUL backend tests</h1>

<div class="list list-inset">
	<label class="item item-input"> <input type="text"
		ng-model="model.userName" placeholder="User Name">
	</label> 
	<label class="item item-input"> <input type="password"
		ng-model="model.passWord" placeholder="Password">
	</label>
	
	<button ng-click="submit()" class="button button-block button-positive">
		Login</button>

	
	
	
	<ion-view title="Home">
        <ion-content padding="true">
          <p>Example of Ionic tabs. Navigate to each tab, and
          navigate to child views of each tab and notice how
          each tab has its own navigation history.</p>
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
          </p>
        </ion-content>
      </ion-view>
</div>
</ion-content> </ion-view>
