<!DOCTYPE html>
<ion-view title="Users">
    <ion-content class="has-header">

        <div class="buttons">
            <button type="button" name="deletebutton" class="button icon ion-minus-circled button-clear button-dark" ng-click="data.showDelete = !data.showDelete">&nbsp;Delete User</button>
            <button type="button" name="addbutton" class="button icon ion-plus-circled button-clear button-dark" ng-click="showAddModal('user')">&nbsp;Add New User</button>
        </div>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-repeat="user in data.users" type="item-text-wrap" href="#/tab/user/{{user.id}}">
                Username: {{user.username}}
                <ion-delete-button class="ion-minus-circled" ng-click="deleteUser(user.id)"></ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
