<!DOCTYPE html>
<ion-view title="Users">
    <ion-content class="has-header">

        <div class="buttons">
            <button class="button button-icon icon ion-ios7-minus-outline" ng-click="data.showDelete = !data.showDelete"></button>
        </div>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-repeat="user in data.users" type="item-text-wrap" href="#/tab/user/{{user.id}}">
                Username: {{user.username}}
                <ion-delete-button class="ion-minus-circled" ng-click="deleteUser(user.id)"></ion-delete-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
